@import 'variables';

section.content-container {
    .message-container {
        font-size: 1rem;
        border: 1px solid #ddd;
        padding: 10px 15px;
        margin-bottom: 10px;
        border-radius: 4px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }

    .no-records-message {
        color: #555;
        background-color: #f9f9f9;
    }

    .error-message {
        color: #fff;
        background-color: #e74c3c;
    }

    .person-list {
        list-style: none;
        padding: 0;

        a {
            flex-grow: 1;
            border: 1px solid #ddd;
            background-color: #f9f9f9;
            padding: 10px 15px;
            margin-bottom: 10px;
            border-radius: 4px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;

            &:hover {
                background: darken(#f9f9f9, 10%);
            }

            &:focus {
                outline: 2px solid darken(#f9f9f9, 15%);
            }

            .person-name {
                font-size: 1rem;
            }

            .delete-btn {
                background: #e74c3c;
                color: #fff;
                border: none;
                border-radius: 5px;
                padding: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;

                svg {
                    fill: #fff;
                    width: 24px;
                    height: 24px;
                }

                &:hover {
                    background: darken(#e74c3c, 10%);
                }

                &:focus {
                    outline: 2px solid darken(#e74c3c, 15%);
                }
            }
        }
    }
}

section.delete-confirm-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    color: $primary-color;
    font-size: 1.5rem;

    .content-container 
    {
        margin-top: 16px;
        max-width: 400px;
        background: #fff;
        padding: $spacing-unit;
        border-radius: calc($spacing-unit / 2);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        display: grid;
        row-gap: 0.75rem;

        .confirm-text {
            font-size: 1.0rem;
            color: $primary-color;
        }

        .btn-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
        }
    }
}