@import 'variables';

section.content-container {
    .no-records-message {
        font-size: 1rem;
        color: #555;
        border: 1px solid #ddd;
        background-color: #f9f9f9;
        padding: 10px 15px;
        margin-bottom: 10px;
        border-radius: 4px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }

    .person-list {
        list-style: none;
        padding: 0;

        a {
            flex-grow: 1;
            border: 1px solid #ddd;
            background-color: #f9f9f9;
            padding: 10px 15px;
            margin-bottom: 10px;
            border-radius: 4px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover {
                background: darken(#f9f9f9, 10%);
            }

            &:focus {
                outline: 2px solid darken(#f9f9f9, 15%);
            }

            .person-name {
                font-size: 1rem;
            }

            .delete-btn {
                background: #e74c3c;
                color: #fff;
                border: none;
                border-radius: 5px;
                padding: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;

                svg {
                    fill: #fff;
                    width: 24px;
                    height: 24px;
                }

                &:hover {
                    background: darken(#e74c3c, 10%);
                }

                &:focus {
                    outline: 2px solid darken(#e74c3c, 15%);
                }
            }
        }
    }
}
