@import 'variables';
@import 'mixins';

footer {
    background-color: $primary-color;
    color: #fff;
    padding: $spacing-unit;

    .container {
        @include container;
    }

    p {
        font-size: 0.9rem;
    }
}